
@{
    ViewBag.Title = "ManyToManyRelationship";
}

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Colors", "index", "colors") | @Html.ActionLink("Cars", "index", "cars")
    </div>
</div>